<section id="kontakt" class="py-32 bg-base-100 relative overflow-hidden">
  <div class="max-w-5xl mx-auto px-6 text-center relative z-10">
    <h2 class="text-5xl md:text-6xl font-black mb-12 tracking-tighter">
      Zacznijmy pracować <br /><span class="text-primary italic">mądrzej.</span>
    </h2>

    <div
      class="card bg-base-200 p-8 md:p-16 rounded-[3rem] border border-base-300 shadow-2xl"
    >
      <div class="grid md:grid-cols-2 gap-8 text-left">
        <div class="form-control">
          <label class="label"
            ><span class="label-text font-bold opacity-50">Email służbowy</span
            ></label
          >

          <input
            type="email"
            placeholder="example@tech.com"
            class="input input-bordered input-lg rounded-2xl"
          />
        </div>

        <div class="form-control">
          <label class="label"
            ><span class="label-text font-bold opacity-50">Miasto / Tryb</span
            ></label
          >

          <select class="select select-bordered select-lg rounded-2xl">
            <option>Warszawa (In-office)</option>

            <option>Online (Live Zoom)</option>

            <option>Inne miasto</option>
          </select>
        </div>

        <button
          class="btn btn-primary btn-lg md:col-span-2 rounded-2xl text-lg font-black h-20 shadow-xl shadow-primary/30"
          >Poproś o wycenę dla zespołu</button
        >
      </div>
    </div>
  </div>
</section>
